<%= render 'layouts/application_info' %>

<% if @application.status == "Pending" %>
  <% @application.pet_applications.each do |pet_application| %>
    <% unless pet_application.application_status == "Approved" %>
      <%= button_to "Approve application for #{pet_application.pet.name}", "/admin/applications/#{pet_application.id}", method: :patch, params: {application_status: "Approved"} %>
    <% end %>
      <%= "#{pet_application.pet.name}: #{pet_application.application_status}" %>
  <% end %>
<% end %>

<br>

<h2>Application Status: <%=@application.status%></h2>
